* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variáveis em CSS: --nomeDaVariavel*/
:root {
    --text-color: white;
    --bg-url: url(./assets/bg-desktop.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/MoonStars.svg);
}

/*Classe que será acrescentada a tag HTML pelo JS  alternar a página para light mode*/
.light {
    --text-color: black;
    --bg-url: url(./assets/bg-desktop-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/Sun.svg);
}

body {
    /*
     background-image: url(./assets/bg-mobile.jpg);
     background-repeat: no-repeat;
     background-position: top center;
     background-size: cover;
    */
    background: var(--bg-url) no-repeat top center/cover;
}

body * {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}

#container {
    width: 360px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/* switch */

#switch {
    position: relative;     /*Vai relativizar a posição do button dentro da div switch*/

    height: 24px;
    width: 64px;

    margin: 4px auto;
}

#switch button {
    height: 32px;
    width: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: none;
    border-radius: 50%;

    position: absolute;
    /*position absolute abre z-index (numero da camada de sobreposição. Também
                                libera top, left, right..... Ex: top: 0; */
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.light #switch button {
    right: 0;
    left: initial;  /*tenho que voltar o left para sua configuração inicial*/
}

#switch span {
    display: block;
    height: 24px;
    width: 64px;
    /* surface-color-dark-mode */
    background: var(--surface-color);
    /* stroke-color-dark-mode */
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur (4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

/* links  */

ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px 0;
}

ul li a {

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;

    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

    backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;

    /*Para tonar o 'hover' mais suave. Transition -> Adiciona uma animação de "fade-in". Poderia aplicar a todos elementos da página "all"*/
    transition: background .4s;
    /*Tudo que envolver transição de estados: reload da page ou mudança de background pelo hover*/
}

/* :hover -> pseudo-selector */
ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

#social-links {
    display: flex;
    justify-content: center;
    gap: 16px;

    padding: 24px 0;

    font-size: 24px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    transition: background 0.2s;
    border-radius: 50%;
}

#social-links a:hover {
    background: var(--highlight-color);

}

footer {
    color: var(--text-color);
    padding: 24px;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
}

footer a {
    font-weight: 500;
}